* {
  box-sizing: border-box;
}

body ,
.timeline {
  background-color: #fbf6ef;
}


.header {
  background-color: #ebd5b7;
  margin: 30px 10px 10px 10px;
  padding-bottom: 30px;
  border-radius: 5px;
}

.contentbox {
  width: 95%;
  background-color: #fbf6ef;
  margin: 0 auto;
  max-width: 2500px;
  border-radius: 5px;
}

h1 {
  padding: 20px 0 5px 0;
  margin-top: 40px;
  font-size: 40px;
  font-weight: bold;
  text-align: center;
  font-family: Verdana;
}

h2,
#fullname,
h3 {
  padding: 10px 0 5px 0;
  font-size: 25px;
  font-weight: bold;
  text-align: center;
  font-family: Arial;
  word-spacing: 3px;
  letter-spacing: 1px;
}


figcaption,
p {
  text-align: center;
  font-size: 20px;
  margin: 10px 0 10px;
  word-spacing: 3px;
  letter-spacing: 1px;
}

#image {
  display: block;
  width: 70%;
  max-width: 100%;
  height: auto;
  max-height: 400px;
  margin: 0 auto 20px;
  padding: 20px 0 0px;
  opacity: 90%;
  box-shadow: -12px 16.5px 6px -9px #c1baba;
}

hr {
  border-top: 10px solid #ebd5b7;
}

#image1 {
  display: block;
  width: 55%;
  height: 80%;
  max-width: 350px;
  max-height: 450px;
  margin: 0 auto 0;
  padding: 20px 0 10px 0;
  opacity: 90%;
  box-shadow: -12px 16.5px 6px -9px #c1baba;
}

.famousbook {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 80px;
  max-width: 1400px;
  margin: 10 auto;
  padding: 30px 10px;
}

.famousbook img {
  width: auto;
  max-width: auto;
  max-height: 450px;
  object-fit: cover;
  border-radius: 5px;
  margin: 0 0 20px;
  padding: 20px 0 0px;
  opacity: 90%;
  box-shadow: -12px 16.5px 6px -9px #c1baba;
}


ul {
  display: table;
  margin: 0 auto 0;
  width: 70%;
  list-style-type: disc;
}

li {
  word-spacing: 5px;
  letter-spacing: 2px;
  font-size: 18px;
  font-family: Arial;
  margin: 15px 0;
}

.cotations {
  font-style: italic;
  font-size: 20px;
  word-spacing: 5px;
  letter-spacing: 2px;
  margin: 20px 0;
}

#readmore {
  font-weight: 400;
  font-size: 25px;
}
